/* body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.wrapper {
  padding: 2rem;
}

.pets {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  /* gap: 1rem; */
}

.hero {
  height: 20vh;
  margin-bottom: 3rem;
}

.hero_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet_search {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
  /* display: flex; */
}

.pet_input {
  width: 100%;
  padding: 1.6rem;
  border: none;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: #edf2f4;
  /* color: #9dbfaf; */
}

.pet_search_btn {
  width: 40px;
  border: none;
  background: #edf2f4;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.pet_search_wrapper {
  display: flex;
  /* align-items: center; */
}

.pet_search h1 {
  margin-bottom: 2rem;
}

.pet_each {
  display: flex;
  align-items: center;
}

.pet_img_api {
  width: 100%;
}

.pet--left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pet_img_wrapper {
  width: 50%;
}
